body{
    background-color: white;
    text-align: center;
}
form{
    background-color: gray;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
input{
    padding: 3px;
    border-radius: 5px;
    border-color: antiquewhite;
}
input div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
input[type=submit]{
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
    padding: 5px;
    border-color: black;
    width: 100%;
    box-sizing: border-box;
}

